/*---:[ Thesis CSS reset ]:---*/
* {
	margin: 0;
	padding: 0;
	word-wrap: break-word;
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img, fieldset {
	border: 0;
}
abbr, acronym {
	text-decoration: none;
}
code {
	line-height: 1em;
}
pre {
	overflow: auto;
	clear: both;
	word-wrap: normal;
	-moz-tab-size: 4;
	tab-size: 4;
}
sub, sup {
	line-height: 0.5em;
}
img, .wp-caption {
	max-width: 100%;
	height: auto;
}
iframe, video, embed, object {
	display: block;
	max-width: 100%;
}
img {
	display: block;
}
.left, .alignleft, img[align="left"] {
	display: block;
	float: left;
}
.right, .alignright, img[align="right"] {
	display: block;
	float: right;
}
.center, .aligncenter, img[align="middle"] {
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	float: none;
	clear: both;
}
.block, .alignnone {
	display: block;
	clear: both;
}
input[type="submit"], button {
	cursor: pointer;
	overflow: visible;
	-webkit-appearance: none;
}
.wp-smiley {
	display: inline;
}
/************** Begin Skin CSS **************************
 *
 * Table of Contents:
 *
 * 1.0 - Reset "like" - General
 * 2.0 - Typography
 * 3.0 - Structural Grid
 * 4.0 - Menus
 * 5.0 - Post Box Styles
 * 6.0 - Query Box Styles
 * 7.0 - Widget Styles
 * 8.0 - Form Fields
 * 9.0 - Call to Action Areas
 * 10.0 - Comments
 * 11.0 - Area Styles
 * 12.0 - Template Specific Styles
 * 13.0 - Icon Styles
 * 14.0 - Social Sharing Styles
 * 15.0 - Post Navigation Styles
 * 16.0 - Misc Styles
 * 17.0 - WooCommerce Styles
 * 18.0 - Media Queries
 * -----------------------------------------------------------------------------
 */


 /**
 * 1.0 Reset "like" - General
 * -----------------------------------------------------------------------------
 */
body {
	font-size: 17px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #555555;
	background-color:#FFFFFF;
}

img{
	max-width:100%;
	height:auto;
	display:inline-block;
}

img.alignleft,
img.alignright,
img.aligncenter,
img.alignnone {
	display:block;
}

.alignleft{	margin-right:27px;}

.alignright{margin-left:27px;}

.clearfix:after{content: "."; display: block; height: 0; clear: both; visibility: hidden;}

/** Typical links **/
a {
	color: #5485ab;
	text-decoration: none;
}

a:hover {
	color: #b2a026;
	text-decoration: underline;
}

 /**
 * 2.0 Typography
 * -----------------------------------------------------------------------------
 */
h1, h2, h3, h4, h5, h6{font-family:Georgia, "Times New Roman", Times, serif;}

.full p{font-size: 19px;
	line-height: 30px;}

.three-quarters p{font-size: 22px;
	line-height: 34px;}

.two-thirds p{font-size: 17px;
	line-height: 27px;}

.half p{font-size: 16px;
	line-height: 25px;}

.one-third p{font-size: 15px;
	line-height: 22px;}

.one-quarter p{font-size: 15px;
	line-height: 21px;}

.full .headline{font-size: 48px;
	line-height: 61px;}

.three-quarters .headline{font-size: 41px;
	line-height: 55px;}

.two-thirds .headline{font-size: 37px;
	line-height: 49px;}

.half .headline{font-size: 35px;
	line-height: 46px;}

.one-third .headline{font-size: 27px;
	line-height: 35px;}

.one-quarter .headline{font-size: 27px;
	line-height: 34px;}

/*  2/3 Column Width   */
p, .post_box p{
	font-size: 17px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #555555;
	line-height:27px;
}

/*  Full Column Width   */
.full p, 
.full .post_box p{
	font-size: 22px;
	line-height:34px;
}

/*  1/3 Column Width   */
.one-third p{
	font-size: 15px;
	line-height: 22px;
	color: #555555;
}

 /**
 * 3.0 Structural Grid- Version 2.1.11
 * -----------------------------------------------------------------------------
 */
.page_wrapper {
	width: 1140px;
	max-width:100%;
	margin-right: auto;
	margin-left: auto;
}

.columns_1,
.columns_2,
.columns_3,
.columns_4,
.columns_321,
.columns_312,
.columns_431,
.columns_413,
.columns_4112,
.columns_4121,
.columns_4211,
.sub_columns,
.sub_columns_2,
.sub_columns_3,
.sub_columns_4{
	clear:both;
	padding:27px 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.area_wrapper:after,
.page_wrapper:after, 
.reverse_wrapper:after, 
.inner_reverse:after,
.columns_1:after,
.columns_2:after,
.columns_3:after,
.columns_4:after,
.columns_321:after,
.columns_312:after,
.columns_431:after,
.columns_413:after,
.columns_4112:after,
.columns_4121:after,
.columns_4211:after,
.sub_columns_2:after,
.sub_columns_3:after,
.sub_columns_4:after{content: "."; display: block; height: 0; clear: both; visibility: hidden;}

.full,
.half,
.one-quarter,
.one-third,
.two-thirds,
.three-quarters{
	float:left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.reverse_wrapper,
.inner_reverse{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
}

.full{
	width:100%;
	float:none;
	padding:0 27px;
}
.three-quarters,
.columns_4121 .reverse_wrapper{width:75%;}

.two-thirds,
.columns_4121 .reverse_wrapper .half {width:66.5%;}

.columns_4112 .reverse_wrapper .half{width:50%;}

.inner_reverse,
.half{width:50%;}

.one-third,
.columns_4121 .reverse_wrapper .one-quarter{
	width:33.3%;
	min-width:200px;
}
.columns_4112 .reverse_wrapper .one-quarter{
	width:50%;
	min-width:200px;
}

.columns_321 .one-third,
.columns_312 .one-third{width:33.5%;}
.related_post_thumbnails .one-third{width:33.3%;}

.one-quarter{width:25%;}

.inner_reverse .one-quarter{width:50%;}

.one-quarter,
.one-third,
.half,
.columns_4112 .reverse_wrapper,
.columns_4121 .reverse_wrapper .one-quarter,
.columns_4112 .reverse_wrapper .one-quarter{
	padding:0 14px;
}

.two-thirds,
.columns_312 .reverse_wrapper .two-thirds,
.columns_4121 .reverse_wrapper .half,
.columns_431 .three-quarters,
.columns_413 .reverse_wrapper .three-quarters{
	padding:0 27px 0 14px;
}

.columns_312 .two-thirds,
.columns_413 .three-quarters{
	padding:0 14px 0 27px;
}

.frameless .full,
.frameless .half,
.frameless .one-quarter,
.frameless .one-third,
.frameless .two-thirds,
.frameless .three-quarters,
.frameless .reverse_wrapper,
.frameless .reverse_wrapper .one-quarter,
.frameless .reverse_wrapper .half,
.frameless .reverse_wrapper .one-third,
.frameless .reverse_wrapper .two-thirds{padding:0;}

.columns_312 .two-thirds,
.columns_413 .three-quarters,
.columns_431 .one-quarter,
.columns_4112 .half,
.columns_4112 .inner_wrapper,
.columns_4112 .reverse_wrapper .half,
.columns_4121 .reverse_wrapper .half{float:right;}

.columns_4112 .reverse_wrapper .one-quarter{float:left;}

/************** Isotope ***************************/
.isotope{margin-bottom:41px;}
.isotope .headline{margin-top:0;}
.fluid_grid{
	padding:15px 10px;
	box-sizing:border-box;
}
.fluid_grid.two_columns{
	width:50%;
	min-width:300px;
}
.fluid_grid.three_columns{
	width:33%;
	min-width:240px;
}
.fluid_grid.four_columns{
	width:25%;
	min-width:200px;
}
.fluid_grid.five_columns{
	width:20%;
	min-width:180px;
}

 /**
 * 4.0 Menus
 * -----------------------------------------------------------------------------
 */
/*  Typical Menu   */
.menu { position: relative; list-style: none; z-index: 50; }
.menu li { position: relative; float: left; }
.menu ul { position: absolute; visibility: hidden; list-style: none; z-index: 110; }
.menu ul li { clear: both; }
.menu a { display: block; }
.menu ul ul { position: absolute; top: 0; }
.menu li:hover ul,
.menu a:hover ul,
.menu :hover ul :hover ul,
.menu :hover ul :hover ul :hover ul { visibility: visible; }
.menu :hover ul ul,
.menu :hover ul :hover ul ul { visibility: hidden; }
.menu_control {	display: none;}

/*  Main Menu   */
.main.menu ul,
.main.menu ul li { width: 250px; }

.main.menu ul ul,
.main.menu :hover ul :hover ul { left: 250px; }

.main.menu a,
.menu_control { font-size: 18px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px; }

.main.menu ul a { width: auto; margin:0;}

.main.menu a,
.main.menu a i.fa,
.menu_control,
.main.menu .current-menu-item ul a,
.main.menu .current-menu-item ul a i.fa,
.menu_control i.fa { color: #FFFFFF;
	background-color: #ccab68; }

.main.menu a:hover i.fa,
.main.menu .current-menu-item ul a:hover i.fa,
.main.menu .current-menu-ancestor a:hover i.fa,
.main.menu a:hover,
.main.menu .current-menu-item ul a:hover,
.main.menu .current-menu-ancestor a:hover { text-decoration:none; color: #FFFFFF;
	background-color: #b2a026; }

.main.menu .current-menu-item a,
.main.menu .current-menu-item a:hover,
.main.menu .current-menu-item a i.fa,
.main.menu .current-menu-item a:hover i.fa { color: #FFFFFF;
	background-color: #9a7834; }

.main.menu > li{}

/*  Main Submenu   */
.main.menu .sub-menu a{border-radius:0;font-size: 16px;}

.main.menu .sub-menu a,
.main.menu .current ul.sub-menu a,
.main.menu .current-menu-item ul.sub-menu a,
.main.menu .sub-menu a i.fa,
.main.menu .current ul.sub-menu a i.fa,
.main.menu .current-menu-item ul.sub-menu a i.fa {  }

.main.menu .sub-menu a:hover,
.main.menu .current ul.sub-menu a:hover,
.main.menu .current-parent .sub-menu a:hover,
.main.menu .current-menu-item ul.sub-menu a:hover,
.main.menu .current-menu-ancestor .sub-menu a:hover,
.main.menu .sub-menu a:hover i.fa,
.main.menu .current ul.sub-menu a:hover i.fa,
.main.menu .current-parent .sub-menu a:hover i.fa,
.main.menu .current-menu-item ul.sub-menu a:hover i.fa,
.main.menu .current-menu-ancestor .sub-menu a:hover i.fa { text-decoration:none;  }

.main.menu .sub-menu .current a,
.main.menu .sub-menu .current a:hover,
.main.menu .sub-menu .current-menu-item a,
.main.menu .sub-menu .current-menu-item a:hover,
.main.menu .sub-menu .current a i.fa,
.main.menu .sub-menu .current a:hover i.fa,
.main.menu .sub-menu .current-menu-item a i.fa,
.main.menu .sub-menu .current-menu-item a:hover i.fa {  }

/*  Header Menu   */
#header_columns .menu{display:inline-block;}
#header_columns .menu a,
#header_columns .menu_control{font-size: 16px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px; }

#header_columns .menu ul,
#header_columns .menu ul li { width: 150px; }

#header_columns .menu ul ul,
#header_columns .menu :hover ul :hover ul { left: 150px; }

#header_columns .menu a,
#header_columns .menu .current ul a,
#header_columns .menu .current-menu-item ul a,
#header_columns .menu a i.fa,
#header_columns .menu .current ul a i.fa,
#header_columns .menu .current-menu-item ul a i.fa,
#header_columns .menu_control i.fa { color: #745b27;
	background-color: transparent; }

#header_columns .menu a:hover,
#header_columns .menu .current ul a:hover,
#header_columns .menu .current-parent a:hover,
#header_columns .menu .current-menu-item ul a:hover,
#header_columns .menu .current-menu-ancestor a:hover,
#header_columns .menu a:hover i.fa,
#header_columns .menu .current ul a:hover i.fa,
#header_columns .menu .current-parent a:hover i.fa,
#header_columns .menu .current-menu-item ul a:hover i.fa,
#header_columns .menu .current-menu-ancestor a:hover i.fa { color: #b2a026;
	background-color: transparent; }

#header_columns .menu .current a,
#header_columns .menu .current a:hover,
#header_columns .menu .current-menu-item a,
#header_columns .menu .current-menu-item a:hover,
#header_columns .menu .current a i.fa,
#header_columns .menu .current a:hover i.fa,
#header_columns .menu .current-menu-item a i.fa,
#header_columns .menu .current-menu-item a:hover i.fa { color: #ccab68;
	background-color: transparent; }

#header_columns .menu > li{}

/*  Header Submenu   */
#header_columns .menu .sub-menu a{border-radius:0;font-size: 16px;}

#header_columns .menu .sub-menu a,
#header_columns .menu .current ul.sub-menu a,
#header_columns .menu .current-menu-item ul.sub-menu a,
#header_columns .menu .sub-menu a i.fa,
#header_columns .menu .current ul.sub-menu a i.fa,
#header_columns .menu .current-menu-item ul.sub-menu a i.fa {  }

#header_columns .menu .sub-menu a:hover,
#header_columns .menu .current ul.sub-menu a:hover,
#header_columns .menu .current-parent .sub-menu a:hover,
#header_columns .menu .current-menu-item ul.sub-menu a:hover,
#header_columns .menu .current-menu-ancestor .sub-menu a:hover,
#header_columns .menu .sub-menu a:hover i.fa,
#header_columns .menu .current ul.sub-menu a:hover i.fa,
#header_columns .menu .current-parent .sub-menu a:hover i.fa,
#header_columns .menu .current-menu-item ul.sub-menu a:hover i.fa,
#header_columns .menu .current-menu-ancestor .sub-menu a:hover i.fa { text-decoration:none;  }

#header_columns .menu .sub-menu .current a,
#header_columns .menu .sub-menu .current a:hover,
#header_columns .menu .sub-menu .current-menu-item a,
#header_columns .menu .sub-menu .current-menu-item a:hover,
#header_columns .menu .sub-menu .current a i.fa,
#header_columns .menu .sub-menu .current a:hover i.fa,
#header_columns .menu .sub-menu .current-menu-item a i.fa,
#header_columns .menu .sub-menu .current-menu-item a:hover i.fa {  }

/*  Footer Menu   */
#footer_area_bottom .menu a,
#footer_area_bottom .menu_control{font-size: 16px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px; }

#footer_area_bottom .menu ul,
#footer_area_bottom .menu ul li { width: 150px; }

#footer_area_bottom .menu ul ul,
#footer_area_bottom .menu :hover ul :hover ul { left: 150px; }

#footer_area_bottom .menu a,
#footer_area_bottom .menu .current ul a,
#footer_area_bottom .menu .current-menu-item ul a,
#footer_area_bottom .menu_control,
#footer_area_bottom .menu a i.fa,
#footer_area_bottom .menu .current ul a i.fa,
#footer_area_bottom .menu .current-menu-item ul a i.fa,
#footer_area_bottom .menu_control i.fa { color: #e6d5b4;
	background-color: transparent; }

#footer_area_bottom .menu a:hover,
#footer_area_bottom .menu .current ul a:hover,
#footer_area_bottom .menu .current-parent a:hover,
#footer_area_bottom .menu .current-menu-item ul a:hover,
#footer_area_bottom .menu .current-menu-ancestor a:hover,
#footer_area_bottom .menu a:hover i.fa,
#footer_area_bottom .menu .current ul a:hover i.fa,
#footer_area_bottom .menu .current-parent a:hover i.fa,
#footer_area_bottom .menu .current-menu-item ul a:hover i.fa,
#footer_area_bottom .menu .current-menu-ancestor a:hover i.fa{ color: #aabce6;
	background-color: transparent; }

#footer_area_bottom .menu .current a,
#footer_area_bottom .menu .current a:hover,
#footer_area_bottom .menu .current-menu-item a,
#footer_area_bottom .menu .current-menu-item a:hover,
#footer_area_bottom .menu .current a i.fa,
#footer_area_bottom .menu .current a:hover i.fa,
#footer_area_bottom .menu .current-menu-item a i.fa,
#footer_area_bottom .menu .current-menu-item a:hover i.fa { color: #e6d5b4;
	background-color: transparent; }

/*  Secondary Menu   */
.secondary.menu a{font-size: 16px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px; }

.secondary.menu ul,
.secondary.menu ul li { width: 150px; }

.secondary.menu ul ul,
.secondary.menu :hover ul :hover ul { left: 150px; }

.secondary.menu a,
.secondary.menu .current ul a,
.secondary.menu .current-menu-item ul a,
.secondary.menu_control,
.secondary.menu a i.fa,
.secondary.menu .current ul a i.fa,
.secondary.menu .current-cat ul a i.fa,
.secondary.menu .current-menu-item ul a i.fa,
.secondary.menu_control i.fa{ color: #745b27;
	background-color: transparent; }

.secondary.menu a:hover,
.secondary.menu .current ul a:hover,
.secondary.menu .current-parent a:hover,
.secondary.menu .current-menu-item ul a:hover,
.secondary.menu .current-menu-ancestor a:hover,
.secondary.menu a:hover i.fa,
.secondary.menu .current ul a:hover i.fa,
.secondary.menu .current-parent a:hover i.fa,
.secondary.menu .current-menu-item ul a:hover i.fa,
.secondary.menu .current-menu-ancestor a:hover i.fa { color: #b2a026;
	background-color: transparent; }

.secondary.menu .current a i.fa,
.secondary.menu .current a:hover i.fa,
.secondary.menu .current-menu-item a i.fa,
.secondary.menu .current-menu-item a:hover i.fa,
.secondary.menu .current a,
.secondary.menu .current a:hover,
.secondary.menu .current-menu-item a,
.secondary.menu .current-menu-item a:hover { color: #ccab68;
	background-color: transparent; }

.secondary.menu > li{}

/*  Secondary Submenu   */
.secondary.menu .sub-menu a{border-radius:0;font-size: 16px;}

.secondary.menu .sub-menu a,
.secondary.menu .current ul.sub-menu a,
.secondary.menu .current-menu-item ul.sub-menu a,
.secondary.menu .sub-menu a i.fa,
.secondary.menu .current ul.sub-menu a i.fa,
.secondary.menu .current-menu-item ul.sub-menu a i.fa {  }

.secondary.menu .sub-menu a:hover,
.secondary.menu .current ul.sub-menu a:hover,
.secondary.menu .current-parent .sub-menu a:hover,
.secondary.menu .current-menu-item ul.sub-menu a:hover,
.secondary.menu .current-menu-ancestor .sub-menu a:hover,
.secondary.menu .sub-menu a:hover i.fa,
.secondary.menu .current ul.sub-menu a:hover i.fa,
.secondary.menu .current-parent .sub-menu a:hover i.fa,
.secondary.menu .current-menu-item ul.sub-menu a:hover i.fa,
.secondary.menu .current-menu-ancestor .sub-menu a:hover i.fa { text-decoration:none;  }

.secondary.menu .sub-menu .current a,
.secondary.menu .sub-menu .current a:hover,
.secondary.menu .sub-menu .current-menu-item a,
.secondary.menu .sub-menu .current-menu-item a:hover,
.secondary.menu .sub-menu .current a i.fa,
.secondary.menu .sub-menu .current a:hover i.fa,
.secondary.menu .sub-menu .current-menu-item a i.fa,
.secondary.menu .sub-menu .current-menu-item a:hover i.fa{  }


 /**
 * 5.0 Post Box Styles
 * -----------------------------------------------------------------------------
 */
/*  Typical Post Box   */
.post_box .headline, 
.post_content h1 { font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 37px;
	line-height: 49px;
	color: #171717; }

.post_box .headline{margin-bottom:14px;}

.post_box .headline_area .headline{margin-bottom:0;}

.headline_area{	margin-bottom:14px; font-size: 13px;
	line-height: 19px;
	color: #A9A9A9; }

.post_content{line-height:27px;}

.post_box h2{
	margin-top: 41px;
	margin-bottom: 14px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 35px;
	line-height: 48px;
	color: #363636;
}
.post_box h3, 
.post_box h4 {
	margin-top: 41px; 
	margin-bottom: 14px; 
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 31px;
	line-height: 43px;
	color: #363636; 
}

.post_box h5, 
.post_box .small { font-size: 13px;
	line-height: 19px;
	color: #A9A9A9; }

.post_box .drop_cap { 
	font-size: 54px; 
	line-height: 1em; 
	margin-right: 9px; 
	float: left; 
}

.post_box p, 
.post_box ul, 
.post_box ol, 
.post_box blockquote, 
.post_box pre, 
.post_box dl, 
.post_box dd { margin-bottom: 27px; }

.post_box ul { list-style-type: square; }

.post_box ul, 
.post_box ol { margin-left: 27px; }

.post_box ul ul, 
.post_box ul ol, 
.post_box ol ul, 
.post_box ol ol { margin-left: 27px; }

.post_box ul ul, 
.post_box ul ol, 
.post_box ol ul, 
.post_box ol ol, 
.wp-caption p { margin-bottom: 0; }

.post_box .left, 
.post_box .alignleft, 
.post_box .ad_left {
	margin-bottom: 27px;
	margin-right: 27px;
}

.post_box .right, 
.post_box .alignright, 
.post_box .ad {
	margin-bottom: 27px;
	margin-left: 27px;
}

.post_box .center, 
.post_box .aligncenter { margin-bottom: 27px; }

.post_box .block, 
.post_box .alignnone { margin-bottom: 27px; }

.post_box .stack { margin-left: 27px; }

blockquote {
  font-weight: bold;
  font-style: italic;
  margin-left: 54px;
}

blockquote p:last-of-type{
  margin-bottom: 0px;
}

blockquote.right, blockquote.left {
	margin-bottom: 14px;
	color: #A9A9A9;
	width: 45%;
}

blockquote.right, blockquote.left {
	padding-left: 0;
	border: 0;
}

.fluid_grid.two_columns .post_content p{font-size: 16px;
	line-height: 25px;;}

.fluid_grid.two_columns .headline{font-size: 35px;
	line-height: 46px;;}

.fluid_grid.three_columns .post_content p{font-size: 15px;
	line-height: 22px;;}

.fluid_grid.three_columns .headline{font-size: 27px;
	line-height: 35px;;}

.fluid_grid.four_columns .post_content p,
.fluid_grid.five_columns .post_content p{font-size: 15px;
	line-height: 21px;;}

.fluid_grid.four_columns .headline,
.fluid_grid.five_columns .headline{font-size: 27px;
	line-height: 34px;;}

	
/*  Home Archive Post Box   */
.home_archive.post_box h2.headline{font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 37px;
	line-height: 49px;
	color: #171717; margin-bottom:0;}

.home_archive.post_box.top h2.headline{margin-top:0;}

.home_archive.post_box p.post_cats{margin-bottom:14px;}

.home_archive.post_box .headline_area{margin-bottom:14px;}

.home_archive.post_box .post_footer{margin-top:27px; text-align:right;}

.home_archive.post_box{margin-bottom:41px;}

/*  Full Width Column Post Box   */
.full .post_box .headline { font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 48px;
	line-height: 61px; }

.full .post_content,
.full .post_content p{
	line-height:34px;
	font-size:22px;
}

.full .post_box .post_content h2{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 45px;
	line-height: 58px;
	margin-top: 54px;
	margin-bottom: 18px;
}

.full .post_box h3, .full .post_box h4 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 40px;
	line-height: 56px;
	margin-top: 54px;
	margin-bottom: 18px;
}

.full .post_box h5, .full .post_box .small { font-size: 17px;
	line-height: 24px; }

.full .post_box .drop_cap {
	font-size: 72px;
	line-height: 1em;
	margin-right: 9px;
	float: left;
}

.full .post_box p, 
.full .post_box ul, 
.full .post_box ol, 
.full .post_box blockquote, 
.full .post_box pre, 
.full .post_box dl, 
.full .post_box dd { margin-bottom: 36px; }

.full .post_box ul ul, 
.full .post_box ul ol, 
.full .post_box ol ul, 
.full .post_box ol ol { margin-left: 36px; }

.full .post_box .left, .full .post_box .alignleft, .full .post_box .ad_left {
	margin-bottom: 36px;
	margin-right: 36px;
}
.full .post_box .right, .full .post_box .alignright, .full .post_box .ad {
	margin-bottom: 36px;
	margin-left: 36px;
}

.full .post_box .center, 
.full .post_box .aligncenter { margin-bottom: 36px; }

.full .post_box .block, 
.full .post_box .alignnone { margin-bottom: 36px; }

.full .post_box .stack { margin-left: 36px; }

 /**
 * 6.0 Query Box Styles
 * -----------------------------------------------------------------------------
 */

/*  Typical Query Box   */
.query_box{margin-bottom:41px;}

.query_box, 
.query_list{ font-size: 15px;
	line-height: 22px;
	color: #555555;}

.query_box .headline, 
.query_list .headline { 
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 27px;
	line-height: 35px;
	color: #363636; 
	margin-bottom:14px;
}

.query_box .post_content h2,
.query_box h3,
.query_box h4,
.query_list .post_content h2,
.query_list h3,
.query_list h4 { 
	margin-top: 27px; 
	margin-bottom: 14px; 
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 31px;
	line-height: 43px;
	color: #363636; 
}

.query_box h5, 
.query_box .small, 
.query_list h5, 
.query_list .small  { font-size: 13px;
	line-height: 19px;
	color: #A9A9A9; }

.query_box p, 
.query_box ul, 
.query_box ol, 
.query_box blockquote, 
.query_box pre, 
.query_box dl, 
.query_box dd, 
.query_list p, 
.query_list ul, 
.query_list ol, 
.query_list blockquote, 
.query_list pre, 
.query_list dl, 
.query_list dd { margin-bottom: 27px; }

.query_box ul,  
ul.query_list, 
ul.query_list ul { 
	list-style-type: none; 
	list-style-position: inside; 
}

.query_box ul, 
.query_box ol, 
.query_list ul, 
.query_list ol,
.query_box ul ul, 
.query_box ul ol, 
.query_box ol ul, 
.query_box ol ol,
.query_list ul ul, 
.query_list ul ol, 
.query_list ol ul, 
.query_list ol ol{ margin-left: 14px; }

.query_box ul ul, 
.query_box ul ol, 
.query_box ol ul, 
.query_box ol ol, 
.query_box .wp-caption p,
.query_list ul ul, 
.query_list ul ol, 
.query_list ol ul, 
.query_list ol ol, 
.query_list .wp-caption p { margin-bottom: 0; }

.query_list .left, 
.query_list .alignleft, 
.query_list .ad_left { 
	margin-top: 7px; 
	margin-bottom: 14px; 
	margin-right: 14px; 
}

.query_box .left, 
.query_box .alignleft, 
.query_box .ad_left { 
	margin-top: 7px; 
	margin-bottom: 14px; 
	margin-right: 14px; 
}

.query_box .right, 
.query_box .alignright, 
.query_box .ad, 
.query_list .right, 
.query_list .alignright, 
.query_list .ad {  
	margin-top: 7px; 
	margin-bottom: 14px; 
	margin-left: 14px; 
}

.query_box .center, 
.query_box .aligncenter, 
.query_list .center, 
.query_list .aligncenter  { margin-bottom: 14px; }

.query_box .block, 
.query_box .alignnone, 
.query_list .block, 
.query_list .alignnone  { margin-bottom: 14px; }

.query_box .stack, 
.query_list .stack  { margin-left: 14px; }

.query_box .featured_image_wrap .alignnone{margin-bottom:27px;}

.query_list .featured_image_wrap .alignnone{margin-bottom:27px;}

.query_box.image_grid {
  float: left;
  margin: 0 10px 10px 0;
}

.query_box.image_grid img {margin: 0;}

.related_post_thumbnails .small_headline{font-size: 15px;
	line-height: 22px;
	color: #555555;}

.related_post_thumbnails .one-quarter, 
.related_post_thumbnails .one-third, 
.related_post_thumbnails .half{min-width:150px;}

.icon_box{
	padding:27px;
	background-color:#FAFAFA;
	border:1px solid #FAFAFA;
	text-align:center;
}

.icon_box:hover{
	background-color:#FFFFFF;
}

.icon_box i{
	margin-bottom: 14px;
}

.icon_box .post_excerpt p,
.attention_box .post_excerpt p{font-size: 17px;
	line-height: 27px;}

 /**
 * 7.0 Widget Styles
 * -----------------------------------------------------------------------------
 */
.widget {box-sizing:border-box;}
.widget p, 
.widget {font-size: 15px;
	line-height: 22px;
	color: #555555;}

.widget p{margin-bottom:27px;}

.widget{margin-bottom:54px;}

.widget_title, 
p.widget_title { 
	margin-bottom: 14px; 
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 27px;
	line-height: 35px;
	color: #363636; 
}
.widget ul { margin-bottom:27px; }

.widget li ul { margin-bottom: 0; }

.widget ul { 
	list-style-type: none; 
	list-style-position: inside; 
}
.widget ul ul{ 
	margin-left:14px;  
}
.widget a{
	color: #b2a026;}

.widget a:hover{
	color: #555555;}

 /**
 * 8.0 Form Fields
 * -----------------------------------------------------------------------------
 */

/************** Submit Buttons ***************************/
input[type="submit"],
input#searchsubmit, 
input#submit, 
.submit a, 
a.submit,
a.read-more, 
.submit a.num_comments_link,
.wpcf7-submit,
button,
#post_nav span{
	color: #FFFFFF;
	background-color: #5485ab;
	border:none;
	text-decoration: none;
	padding: 10px 20px;
}

input[type="submit"]:hover,
input:hover#searchsubmit, 
input:hover#submit,
.submit a:hover,  
a.submit:hover,  
a.read-more:hover, 
.submit a.num_comments_link:hover,
.wpcf7-submit:hover,
button:hover,
#post_nav span:hover{
	color: #FFFFFF;
	background-color: #745b27;
	cursor:pointer;
}

input#searchsubmit, input#submit{
	border:none;
}

#searchform input[type="submit"]{
	padding:8px 10px;
}
.button-group button{margin:0 5px 5px 0}

/************** Input Fields ***************************/
input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="url"],textarea {
	font-size: inherit;
	line-height: inherit;
	font-family: inherit;
	padding: 5px;
	background-color:#FFFFFF;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="password"]:focus, input[type="url"]:focus{
	border-style: solid;
	background-color:#fff;
}
.search_form input[type="text"]{
	width:200px;
}

#searchform input[type="text"]{
	width:150px;
}

#searchform input#searchsubmit{padding:12px;}


 /**
 * 9.0 Call to Action Areas
 * -----------------------------------------------------------------------------
 */

.call-to-action{
	text-align:center; 
	padding:27px;
}

#content_area .call-to-action{
	background-color:#C0C0C0;
	margin-bottom:41px;
}

.post_box .call-to-action{
	background-color:#C0C0C0;
	margin-bottom:41px;
}

.call-to-action .heading{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 37px;
	line-height: 49px;
	color: #171717; 
	margin-bottom:27px;
}

.call-to-action.cta_tall .heading{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 48px;
	line-height: 61px; 
	margin-bottom:36px;
}

.call-to-action .message{
	font-size:22px;
	line-height:27px;
	margin-bottom:27px;
}

.call-to-action.cta_tall .message{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 31px;
	line-height: 43px;
	color: #363636;
	margin-bottom:36px;
}

.call-to-action.cta_short .message{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 27px;
	line-height: 35px;
	color: #363636;
	margin-bottom:0;
}

.overlay .call-to-action .heading,
.overlay .call-to-action .message{color:#FFFFFF;}

.call-to-action a{
	color: #FFFFFF;
	background-color: #b2a026;
	text-decoration: none;
	padding: 10px 20px;
}
.call-to-action a:hover{
	color: #FFFFFF;
	background-color: #8A8A8A;
	cursor:pointer;
}

/************** Thesis Email Signup Box ***************************/

.thesis_email_form{margin-bottom:54px;}

.post_box .thesis_email_form{margin-bottom:0px;}

.one-third .email_form_title, 
.one-quarter .email_form_title  {
	margin-bottom: 14px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 27px;
	line-height: 35px;
	color: #363636;
}

.two-thirds .email_form_title, 
.one-half .email_form_title, 
.three-quarters .email_form_title   {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 37px;
	line-height: 49px;
	color: #171717;
}

.full .email_form_title   {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 48px;
	line-height: 61px;
	margin-bottom: 18px;
}

.one-third .email_form_intro, 
.one-quarter .email_form_intro{
	margin-bottom: 14px;
	font-size: 15px;
	line-height: 22px;
	color: #555555;
}

.two-thirds .email_form_intro, 
.one-half .email_form_intro, 
.three-quarters .email_form_intro{
	margin-bottom: 14px;
}

.full .email_form_intro{margin-bottom: 18px;}

.thesis_email_form_submit {
	color: #FFFFFF;
	background-color: #ccab68;
	text-decoration: none;
	padding: 10px 20px;
	font-size:18px;
	border:none;
	margin-top:14px;
}

.thesis_email_form_submit:hover {
	color: #FFFFFF;
	background-color: #745b27;
	cursor:pointer;
}

.two-thirds .thesis_email_form_submit, 
.three-quarters .thesis_email_form_submit, 
.full .thesis_email_form_submit {
	font-size:20px;
	padding:15px;
}

.one-third .thesis_email_form label, 
.one-quarter .thesis_email_form label{
	display:block;
}

.one-third .thesis_email_form .input_text, 
.one-quarter .thesis_email_form .input_text{
	width:100%;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin-bottom:14px;
}

.cta_short .thesis_email_form{
	margin-bottom:0;
	font-size:20px;
}
.cta_short .thesis_email_form label{
	font-size:28px;
	vertical-align:middle;
}
.cta_short .thesis_email_form input{
	margin-right:20px;
}
.cta_short .thesis_email_form_submit{
	padding: 10px 20px;
	margin-top:0;
}

 /**
 * 10.0 Comments
 * -----------------------------------------------------------------------------
 */

/************** Comments & Comment Form ***************************/
.comment {
	border-width: 1px 0 0 5px;
	border-style: solid;
	border-color: #745b27;
	margin-top: 27px;
	padding-top: 3px;
	padding-left: 3px;
}

.comment .comment_author { font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 31px;
	line-height: 43px;
	color: #363636; }

.comment .comment_aux { font-size: 13px;
	line-height: 19px;
	color: #A9A9A9; }

.children .comment {
	list-style-type: none;
	border-style: none;
	padding-left: 14px;
}

.comment .comment_text ul { list-style-type: square; list-style-position: inside; }

.comment .comment_text ul, 
.comment .comment_text ol { margin-left: 27px; }

.comment p,
.comment .comment_text ul, 
.comment .comment_text ol, 
.comment .comment_text pre { margin-bottom: 27px; }

.comment .comment_text li ul, .comment .comment_text li ol {
	margin-left: 27px;
	margin-bottom: 0;
}

.comment .comment_text .left, 
.comment .comment_text .alignleft {
	margin-bottom: 27px;
	margin-right: 27px;
}

.comment .comment_text .right, 
.comment .comment_text .alignright {
	margin-bottom: 27px;
	margin-left: 27px;
}
.comment .comment_text .center, 
.comment .comment_text .aligncenter { margin: 0 auto 27px auto; }

.comment .comment_text .block, 
.comment .comment_text .alignnone { margin: 0 auto 27px 0; }

.comment{clear:both;}

.comment .avatar{
	float:left;
	margin:0 14px 14px 0;
}

p.comments_intro, 
p#comment_form_title{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 37px;
	line-height: 49px;
	color: #171717;
	padding-bottom:27px;
	border-top:#555555 1px solid;
}

#commentform label{
	display:block;
	padding-bottom:5px;
}

#commentform input[type="text"]{
	padding:5px;
	width:90%;
	margin-bottom:14px;
}

#commentform textarea{
	padding:5px;
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin-bottom:14px;
}

#commentform .columns_2{padding-top:0;}
#comments:after, #thrive-comments:after{content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.agility #thrive-comments{margin:0;}

 /**
 * 11.0 Area Styles
 * -----------------------------------------------------------------------------
 */
#top_header_area{
	padding:0;
	background-color:#000000;
	color:#ffffff;
}

#top_header_columns{padding:0;}

#top_header_area i.fa{
	color:#ffffff;
	padding:5px;
}

#top_header_area .widget, 
#top_header_area .widget p{
  margin:0px;
}

#top_header_area .search-form,
#top_header_area .widget.widget_search{padding:7px 0;}

#top_header_area .widget.widget_search label{color:#FFFFFF;}

#top_header_area input#searchsubmit{padding:5px 20px;}

#top_header_area input[type="text"]{
  font-size: 13px;
	line-height: 19px;
	color: #A9A9A9;;
  padding: 2px;
}

#top_header_area .phone_number{
	margin-top:5px;
}
#top_header_area .social_icons{
	text-align:right;
	margin-top:5px;
}

#header_columns{
	padding:0;
	text-align:center;
}
#top_menu_area {
	background-color: #ccab68;
}
#top_menu_columns{
	padding:0;
}

#feature_box_area .columns_1, 
#feature_box_area .columns_1 .full{
	padding-bottom:0;
}

#attention_area .page_wrapper{margin-bottom:54px;}

#notice_bar_area{background-color:#e6d5b4;}

#front_sharing_area{text-align:center;}

#footer_area_top {background-color: #ccab68;}

#footer_area_top a{	color: #FFFFFF;}

#footer_area_top a:hover{color: #b2a026;}

#footer_area_bottom {
	color: #b2a026;
	background-color: #745b27;
	overflow:hidden;
}


 /**
 * 12.0 Template Specific Styles
 * -----------------------------------------------------------------------------
 */
#archive_intro {
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #555555;
	margin-bottom: 41px;
}
h1.archive_title{margin-bottom:27px;}


 /**
 * 13.0 Icon Styles
 * -----------------------------------------------------------------------------
 */
.query_box .content_wrapper i.fa {
	float: left;
	margin-right: 10px;
}

i.fa{color:inherit;}

i.fa-fw{padding:4% 1.5%;}

i.fa-fw.positive{padding:6% 3%;}

i.circle{border-radius:100%}

i.fa.positive{
	border:3px solid #745b27;
	color:#745b27;
}

i.fa.negative{
	background-color:#2d7685;
	color:#FFFFFF;
}

i.rounded_square{border-radius:10%}

.widget.social_icons i{
	font-size:24px;
	color:#FFFFFF;
	background-color:#745b27;
	padding:3% 1.8%;
	border-radius:5px;
	margin-bottom:5px;
}


 /**
 * 14.0 Social Sharing Styles
 * -----------------------------------------------------------------------------
 */
.social_links a{
	color:#FFFFFF;
	display:inline-block;
	padding:5px 15px 5px 10px;
	margin:0 5px 10px 0;
	background-color:#306199;
}

.social_links a i.fa{
	color:#FFFFFF;
	padding:5px;
}

.social_links a:hover{	
	background-color:#3c7ac0;
	text-decoration:none;
}

.social_links a.twitter{background-color:#26c4f1;}

.social_links a.twitter:hover{background-color:#56d1f4;}

.social_links a.linkedin{background-color:#007bb6 ;}

.social_links a.linkedin:hover{background-color:#009de9;}

.social_links a.stumbleupon{background-color:#EB4924;}

.social_links a.stumbleupon:hover{background-color:#ef7053;}

.social_links a.googleplus{background-color:#e93f2e ;}

.social_links a.googleplus:hover{background-color:#ee695c;}

.social_links a.pinterest{background-color:#BD2126;}

.social_links a.pinterest:hover{background-color:#dc353b;}

.social_links a.reddit{background-color:#8bbbe3 ;}

.social_links a.reddit:hover{background-color:#b4d3ed;}

.social_links a.tumblr{background-color:#32506d ;}

.social_links a.tumblr:hover{background-color:#426a90;}

.social_links.monochrome a{background-color:#2d7685;}

.social_links.monochrome a:hover{background-color:#5485ab;}

 /**
 * 15.0 Post Navigation Styles
 * -----------------------------------------------------------------------------
 */
#post_nav .right{text-align:right;}

#post_nav .half{padding:0 15px 0 0;}

#post_nav .half.right{padding:0 0 0 15px;}

#post_nav{margin-bottom:41px;}

#post_nav span{display:block;}

#post_nav i.fa,
#post_nav span a{color: #FFFFFF;}

#post_nav i.fa:hover,
#post_nav span:hover{color: #FFFFFF;}

 /**
 * 16.0 Misc
 * -----------------------------------------------------------------------------
 */

#site_title{font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 39px;
	line-height: 52px;}

#site_title a {  }

#site_title a:hover {  }

#site_tagline {	font-size: 22px;
	line-height: 34px;
	color: #9a7834; }

.copyright, .one-third .copyright{padding-top:10px;color:#dedaf3;}

.overlay{background-color:rgba(000, 000, 000, 0.5);}

.overlay-1 .overlay,
.overlay-2 .overlay,
.overlay-3 .overlay{background-color:transparent;}

.social_wrapper{
	border-top: 1px solid #8A8A8A;
	border-bottom: 1px solid #8A8A8A;
	padding-top: 10px;
	padding-left: 27px;
}

.social_wrapper iframe, .social_wrapper #___plusone_0, .social_wrapper .IN-widget{
	display:inline-block;
	width:110px !important;
	height:24px !important;
}

.section_title{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 48px;
	line-height: 61px;
	text-align:center;
	margin-bottom:36px;
	padding-top:36px ;
	border-top: 1px solid #ccab68;
}


/* Clearfix */
#header_area:after, 
#top_menu_area:after,
#feature_box_area:after, 
#content_area:after, 
#footer_area_top:after, 
#footer_area_bottom:after,
#post_nav:after,
.related_post_thumbnails:after, 
.textwidget:after, 
.menu:after, 
.post_box:after, 
.post_box .post_content:after, 
.comment .comment_text:after, 
ul.menu>li.menu-item>:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }


 /**
 * 17.0 WooCommerce
 * -----------------------------------------------------------------------------
 */
.related.products{
	clear:both;
	padding-top:54px;
}

.related.products h2{
	margin-bottom:27px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 35px;
	line-height: 48px;
	color: #363636;
}
.woocommerce .product .product_title{
	margin-bottom:27px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 37px;
	line-height: 49px;
	color: #171717;
	line-height:41px;
}
.woocommerce-product-details__short-description{ margin-bottom:27px; }
.woocommerce .product .cart .variations label { font-size: 16px; }
.woocommerce-variation-price{ margin-bottom:27px; }
.products .product .woocommerce-loop-product__title {font-size: 15px;
	line-height: 22px;
	color: #555555;}